.user-profile {
    width: 600px;
    overflow: auto;

    label {
        display: block;
    }

    label + label {
        margin-top: 20px;
    }

    input {
        border: none;
        padding-left: 20px;
        font-size: 16px;
    }

    a {
        float: right;
    }
}